@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<section id="todo">
    <figure>
        <img src="~/images/logo3.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption>
        </figcaption>
    </figure>
    <!--<figure>
        <div align="center"><img src="~/images/logo4.jpg" alt="SEAMOS.img" class="img-responsive" width="950" height="600"/> </div>
        </figure>
        -->
    <figure>
        
            <img src="~/images/logo5.jpg" alt="SEAMOS.img"  width="200" height="250" />
            <figcaption></figcaption>
</figure>
    <figure>
        
            <video id="sampleMovie" src="~/images/Tratando.mp4" width="180" height="180" preload controls></video>
            <figcaption></figcaption>
    </figure>
    <figure>
        
            <img src="~/images/img0.jpg" alt="SEAMOS.img"  width="180" height="180" />
            <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img1.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img2.jpg" alt="SEAMOS.img" width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <video id="sampleMovie" src="~/images/sintitulo.mp4" width="200" height="200" preload controls></video>
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img3.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img4.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img5.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/Integrantes.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/Integrantes0.jpg" alt="SEAMOS.img"  width="200" height="200" />
        <figcaption></figcaption>
    </figure>
    <figure>
        <img src="~/images/img6.jpg" alt="SEAMOS.img" width="200" height="200" />
        <figcaption></figcaption>
    </figure>
</section>