
@{
    ViewData["Title"] = "NoticiasSeamos";
}

<h2>NoticiasSeamos</h2>

<div align="center"><img src="~/images/show1.jpg" alt="SEAMOS.img" class="img-responsive" /> </div>
<div align="center"><img src="~/images/show0.jpg" alt="SEAMOS.img" class="img-responsive" /> </div>
