
@{
    ViewData["Title"] = "Principal";
}
<div align="center"><img src="~/images/logo4.jpg" alt="SEAMOS.img" class="img-responsive" width="950" height="600" /> </div>
<h1>Presentaciones</h1>
Presentacion en Maná bar, ubicado en la localidad de Adrogué. En esta ocación nterpretando la canción "Heroes Debastados".
<div align="center"><video id="sampleMovie" src="~/images/SeamosMana.mp4" width="800" height="450" preload controls></video></div>

<div class="item">
    <div align="center"><img src="~/images/logo3.jpg" alt="SEAMOS.img" class="img-responsive" width="500" height="400" /> </div>
    <!-- <div align="center"><img src="~/images/logo4.jpg" alt="SEAMOS.img" class="img-responsive" width="950" height="600"/> </div>-->
    <div align="center"><img src="~/images/logo5.jpg" alt="SEAMOS.img" class="img-responsive" width="450" height="350" /></div>
</div>

<div align="center"><video id="sampleMovie" src="~/images/Tratando.mp4" width="800" height="450" preload controls></video></div>

<div align="center"><img src="~/images/img0.jpg" alt="SEAMOS.img" class="img-responsive" width="400" height="260" /></div>
<div align="center"><img src="~/images/img1.jpg" alt="SEAMOS.img" class="img-responsive" /></div>
<div align="center"><img src="~/images/img2.jpg" alt="SEAMOS.img" class="img-responsive" /></div>


<div align="center"><video id="sampleMovie" src="~/images/sintitulo.mp4" width="800" height="450" preload controls></video></div>

<div align="center"><img src="~/images/img3.jpg" alt="SEAMOS.img" class="img-responsive" /></div>
<div align="center"><img src="~/images/img4.jpg" alt="SEAMOS.img" class="img-responsive" width="750" height="550" /></div>
<div align="center"><img src="~/images/img5.jpg" alt="SEAMOS.img" class="img-responsive" /></div>

<div align="center"><img src="~/images/Integrantes.jpg" alt="SEAMOS.img" class="img-responsive" /></div>
<div align="center"><img src="~/images/Integrantes0.jpg" alt="SEAMOS.img" class="img-responsive" /></div>

<div align="center"><img src="~/images/img6.jpg" alt="SEAMOS.img" class="img-responsive" /></div>